.noticiaContainer {
    border-left: 5px solid #20ACB8;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #F8F8F8;
    filter: drop-shadow(2px 2px 2px #c4c4c4);
    padding: 20px 30px;
    transition: all .4s;
    display: flex;
    justify-content: space-between;
    height: 300px;
    user-select: none;
}

.noticiaContainer img {
    width: auto;
    max-width: 400px;
    max-height: 250px;
    height: auto;
    margin-top: 25px;
    border-radius: .2rem;
}

.noticiaContainer:hover {
    background-color: #eeeeee;
    transition: all .4s;
}

.noticiaContainer h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 0;
}

.noticiaContainer h4 {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #20ACB8;
    margin: 0;
    font-weight: 600;
}

.noticiaContainer a {
    color: #20ACB8;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2rem;
}

.noticiaContainer a:hover {
    text-decoration: underline;
}

.noticiaContainer p {
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 1.1rem;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 140px;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.noticiaInfo {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1080px) {
    .noticiaContainer {
        height: 250px;
    }

    .noticiaContainer img {
        max-width: 300px;
        max-height: 200px;
        margin-top: 25px;
    }
}

@media (max-width: 830px) {
    .noticiaContainer {
        height: 250px;
    }

    .noticiaContainer h3 {
        font-size: 1.3rem;
    }

    .noticiaContainer h4 {
        font-size: 1rem;
    }

    .noticiaContainer p {
        font-size: .95rem;
        margin-top: 10px;
    }

    .noticiaContainer a {
        font-size: 1rem;
    }
}

@media (max-width: 630px) {
    .noticiaContainer img {
        display: none;
    }

    .noticiaContainer {
        height: 200px;
    }

    .noticiaContainer p {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .noticiaContainer h3 {
        font-size: 1.1rem;
    }

    .noticiaContainer h4 {
        font-size: 1rem;
    }

    .noticiaContainer p {
        font-size: .8rem;
        margin-top: 10px;
    }

    .noticiaContainer a {
        font-size: .9rem;
    }
}

@media (max-width: 300px) {
    .noticiaContainer {
        overflow: hidden;
    }
}